* {
    box-sizing: border-box;
  }

body {
  background-repeat: no-repeat;
  background: url(images/background-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #F0F3BD;
  margin: 0 auto;
}
input {
  text-align: center;
  border-radius: 15px;
  margin: 15px;
}
main {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 10px;
}

span {
  font-style: italic;
  font-size: 18px;
}

fieldset {
  border: none;
}

legend {
  color: #F0F3BD;
  font-size: 20px;
  border: none;
  margin: 0 auto;
}

.js-accordion {
  background-color: #F0F3BD;
  opacity: .90;
  cursor: pointer;
  width: 80%;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 5px;
}


.js-accordion:hover, .js-button:hover {
  background-color: #F6986D;
}

.js-panel {
  background-color: #F7796C;
  text-align: center;
  overflow-y: scroll;
  height: 575px;
  font-size: 20px;
  border-radius: 5px;
  padding: 8px;
  width: 79%;
  opacity: .82;
  margin: 0 auto;
}

a input {
  border-radius: 50%;
  margin: 0 auto;
}

.js-ingredient-list {
  margin: 10px;
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
}

li {
  margin: 10px;
  text-align: left;
}

.js-beer-error {
  color: #E63946;
  font-size: 20px;
  border: none;
  margin: 0 auto;
}

